<% if(messages && messages.length> 0) {
  let i =1
  %>
  
    <%while(messages.length> 0) {
      
      const message =messages.pop();
      %>
  
      <div class="alert card  white-text <%=message.type%>" id="card-<%=i%>">
      <div class="card-content message_text">
        <%-message.text;%>

      </div>
      <a onclick=" jQuery('#card-<%=i%>').toggle('show');" class=" btn-floating <%=message.type%> "  id="close"><i class="material-icons ">close</i></a>
          
          </div>
      <% i++} %>
        <%}%>