<div class="container patientContainer" style="margin-bottom:100px; margin-top: 50px;">

    <div class="patientForm">

      <form enctype="multipart/form-data" action="profile" method="post">
    
        <div class="patientFormTop">
            <div class="uploadImage">
    
                <img id="image_patient" width="150" src="../../public/data/uploads/patient/<%=patient.patientId%>.jpg">
                <div class="file-field input-field">
                    <div  class="btn ">
                      <span>File</span>
                      <input name="avatar" type="file" id="upload_Image" accept="image/*">
                    </div>
                    <div class="file-path-wrapper" style="width:200px;">
                      <input id="file" class="file-path validate" type="text">
                    </div>
            </div>
            </div>
      <!--left image upload  -->
    <div class="uploadInfo">
        <div class="row">
            <div class="input-field input_patient col s6">
              <input value="<%=patient.firstName%>"  name="firstName" id="first_name" type="text" class="validate">
             
            </div>
            <div class="input-field input_patient col s6">
              <input value="<%=patient.middleName%>"  name="middleName"id="middle_name" type="text" class="validate">
            
            </div>
          </div>
        
          <div class="row">
            <div class="input-field input_patient col s6">
                <input value="<%=patient.lastName%>" name="lastName" id="last_name" type="text" class="validate">
              
              </div>
            <div class="input-field input_patient col s6">
              <input value="<%=patient.phoneNumber%>" name="phoneNumber"  id="phone_number" type="text" class="validate">
           
            </div>
            
          </div>
          <div class="row">
            <div class="input-field input_patient col s6">
                <input value="<%=patient.dateOfBirth%>" name="dateOfBirth" id="dateOfBirth" type="text" class="datepicker"> 
              
          </div>
        
        
        </div>
    
    
    </div>
    
    <!-- right input -->
        </div>
        <div class="patientFormButton">
           <div class="patientFormButtonLeft">
           <div class="row">
                <div class="input-field input_patient col s12">
                    <input value="<%=patient.address%>" name="Address"  id="Address" type="text" > 
<label for="Address">Address</label>
                    
              </div>
              <div class="row input_patient">
                <div class="input-field col s6">
                  <input value="<%=patient.height%>" class="number" name="height" id="height" type="number" >
            <label for="height">height</label>
                </div>
                <div class=" input-field  col s6">
                  <input value="<%=patient.weight%>"  name="weight"id="weight" type="number" class="validate number">
                  <label for="weight">weight</label>
                </div>
              </div>
              <div class="row  input_patient">
                <div class="input-field input_patient col s6">
                  <input value="<%=patient.Gender%>"  name="gender" id="Gender" type="text" >
                  <label for="Gender">Gender</label>
                </div>
                <div class=" input-field input_patient  col s6">
                  <input value="<%=patient.BMI%>"  name="BMI"id="BMI" type="text" class="validate ">
                  <label for="BMI">BMI</label>
                </div>
              </div> 
           </div>
           <button id="saveBtn"  class="btn btnNewPatient waves-effect waves-light  green darken-4  center" >save</button>
      <a id="editBtn"  class=" btn btnNewPatient waves-effect waves-light  red darken-4  center"  >Edit
        
      </a>

           </div>
           <div class="patientFormButtonRight">
            <div class="medicare">
               <h6 class="medicareTitle">Medicare Card Details</h6>
               <p class="medicareSubTitle">MedicareCard</p>
              <div class="medicareInput">
                <div class="input-field medicareNumber col s6">
                    <input value="<%=patient.medicareNum%>" name="medicareNumber"id="medicare_number" type="text" > 
                    <label for="medicare_number">medicare number</label> 
                    
                </div>
                <div class="input-field medicareFullName  col s6">
                    <input value="<%=patient.fullName%>" name="fullName"id="full_name" type="text" > 
                    
                    
                </div>
               <div class="validTo">
                <span >VALIDTO: </span>
                <input style="font-weight:bolder; color: black;"  value="<%=patient.medicareEXP%>" class="validDate" type="date" name="validDate" id="medicareValidDate">
               </div>
            </div>
            </div>
           </div>
        </div>
    </div>
    <div class="medicalHistory">
    <div class="row">
            <div class="input-field col s12">
              <textarea name="medicalHistory"id="medical_History" class="materialize-textarea"><%=patient.medicalHistory%> </textarea>
              <label for="medical_History">Medical History</label>
            </div>
          </div>
    
    
    
     </form>
     
    </div>
    </div>
  
    <script>
    $(document).ready(function(){
  // Disable all inputs when the page loads
  $('input').attr('disabled','disabled');
  $('textarea').attr('disabled',true)

 
});
document.getElementById("saveBtn").style.display = "none";
  document.getElementById("editBtn").addEventListener("click", function() {
    $('textarea').attr('disabled',false)
    $('input').removeAttr('disabled');
    $('#editBtn').hide()
    document.getElementById("saveBtn").style.display = "inline-block";
  })
    </script>
    <script src="../../public/js/patient/patient.js"></script>