<div class="doctor-profile">

  <div>
    <%- include('../partials/doctorProfileheaders');%>
      <div class="container">


        <%- include('../partials/messages');%>
          <div class="mt-4 p-5 bg-primary text-white rounded text-center">
            <h1>Welcome Doctor <%=doctor.firstName%>
            </h1>

          </div>

          <h2>Your details</h2>

          <div class="row">
            <form action="" method="" class="col s12">
              <div class="row">
                <div class="uploadImage">

                  <img width="150" src="../../public/data/uploads/doctor/<%=doctor.doctorId%>.jpg">

                  <div class="file-path-wrapper" style="width:200px;">
                    <input id="file" class="file-path validate" type="text">
                  </div>
                </div>
                <div class="input-field col s6">
                  <input placeholder="firstName" id="first_name" type="text" class="validate" name="firstName"
                    value="<%=doctor.firstName%>">

                  <label for="first_name">First Name:
                  </label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate" name="lastName" value="<%=doctor.lastName%>">
                  <label for="last_name">Last Name</label>
                </div>
              </div>

              <div class="row">

                <div class="input-field col s6">
                  <input id="Registration" type="number" class="validate" name="registrationNumber"
                    value="<%=doctor.registrationNumber%>">
                  <label for="Registration">Registration Number:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="qualification" type="text" class="validate" placeholder="Qualification"
                    name="qualifications" value="<%=doctor.qualifications%>">
                  <label for=" qualification">Qualifications</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="clinic" type="text" class="validate" placeholder="Clinic Name" name="clinic"
                    value="<%=doctor.clinic%>">
                  <label for=" clinic">Clinic Name:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="Language" type="text" class="validate" placeholder="Languages" name="languages"
                    value="<%=doctor.languages%>">
                  <label for="Languages">Languages:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="abn" type="text" class="validate" placeholder="ABN" name="abn" value="<%=doctor.abn%>">
                  <label for="abn">ABN:</label>
                </div>
              </div>

              <button class="btn waves-effect waves-light col offset-s4" type="submit" name="action" id="submit">Edit
              </button>
            </form>
          </div>

          <script src="../../public/js/doctor/doctor.js"></script>
          <link rel="stylesheet" href="../../public/css/doctor/doctor.css" />
      </div>
  </div>
</div>