<div class="middle">

    <div class="container">
     
<div class="row">

   <div class="col s12 m6">
    <%- include('../partials/messages');%>
    <div class="card registration_card large white  black-text " id="signUp">
        <div class="card-content card_header">
            <span class="card-title center">
                Register
              </span>
        </div>
      <div class="card-content card_body">
      
        <form action="/user/register" autocomplete="off" method="post" >
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_box</i>
              <input name="username"id="username" type="text" class="validate "  value="<%=locals.data && data.username ? data.username : '' %>">
              <label class="<%=locals.errors && errors.includes('username') ? 'is-invalid' : ''%>" for="username">Username</label>
            </div>
      
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input name="email" id="email" type="email" value="<%=locals.data && data.email ? data.email : '' %>" class="validate">
              <label class="<%=locals.errors && errors.includes('email') ? 'is-invalid' : ''%>" for="email">Email</label>
            </div>
      
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">locker</i>
              <input name="password"id="password" type="password"  value="<%=locals.data && data.password ? data.password : '' %>" class="validate">
              <label class="<%=locals.errors && errors.includes('password') ? 'is-invalid' : ''%>"for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">locker</i>
              <input name="confirmPassword" id="confirmPassword" value="<%=locals.data && data.confirmPassword? data.confirmPassword : '' %>" type="password" class="validate">
              <label class="<%=locals.errors && errors.includes('confirmPassword') ? 'is-invalid' : ''%>" for="confirmPassword">ConfirmPassword</label>
            </div>
          </div>
          <select  class="browser-default <%=locals.errors && errors.includes('occupied') ? 'is-invalid' : ''%>" name="occupied" >
            <option  disabled selected>who are you?</option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
            <option value="clinic">Clinic</option>
          </select>
          
          <div class="form-group">
            <button type="submit" class="waves-effect waves-light btn-block  teal darken-4  btn btn_login"><i class="material-icons  add_circle_outline login left">login</i>Create account</button>
          </div> <!-- form-group// -->
        
          <p class="divider-text">
            <span class="white " style="font-size:medium;">Do you have an account already?</span>
          </p>
          <p class="text-center">
            <a class="btn btn-block grey darken-4" href="/">
             Login</a>
          </p>
        </form>
      </div>
    </div>
   </div>
  </div>

    </div>

</div>